/* Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

button {
  background: none;
  border: none;
  padding: 0;
}

/* Global styles */
html {
  background-color: #18181a;
  color: #fdfdfd;
  overflow-x: hidden;
}
.dm-sans-large {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nav {
  width: 100%;
  text-align: center;
  padding: 20px 10px 10px 10px;
}
a {
  color: white;
}

/* Board game */
.container {
  display: block;
  width: 100vw;
  padding: 20px;
}
.board-container {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: 450px;
  text-align: center;
  /* border: 2px solid #fdfdfd; */
  border-radius: 4px;
}
.game-board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.tile {
  background-color: #28272a;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 2px;
}
.instructions {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 400px;
  height: 450px;
  text-align: left;
}
.strong {
  font-weight: 800;
}
.instructions > * {
  margin-bottom: 12px;
  max-width: 320px;
  padding: 0px 0px 0px 10px;
}
.example-container {
  display: flex;
}

/* shaded tiles added with javascript */
.shaded-tile {
  background-color: #636265;
}
.correct {
  background-color: #03c39b;
}
.close {
  background-color: #f3d05a;
}
.wrong {
  background-color: #111112;
}

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center; /* Centered horizontally */
  align-items: center; /* Centered vertically */
  /* Flexbox for centering */
}

/* Modal content */
.modal-content {
  background-color: #18181a;
  color: #fdfdfd;
  margin: auto;
  padding: 20px;
  border: 1px solid #2e2e2e;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

/* Close button */
.close-button {
  position: absolute;
  top: 0px; /* Adjust as needed */
  right: 12px; /* Adjust as needed */
  color: #aaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 16px;
}
#replayButton {
  border-radius: 4px;
  padding: 4px 16px 4px 16px;
  margin-right: 12px;
  background-color: #2e2e2e;
  border: 1px solid #3e3e3e;
  color: #fdfdfd;
  cursor: pointer;
}
#newGameButton {
  border-radius: 4px;
  padding: 4px 16px 4px 16px;
  margin-left: 12px;
  background-color: #fdfdfd;
  color: #18181a;
  cursor: pointer;
}
